// Choose one of these to be your mainTheme color
$green: hsl(151, 65%, 60%);
$blue: #344A96;
$orange: hsl(6, 90%, 70%);
$purple: hsl(260, 38%, 56%);

$offBlack: hsl(10, 1%, 22%);
$grey: lighten($offBlack, 50);

$codeFont: Monaco, Consolas, monospace;
$postFont: 'Merriweather', serif;
$headerFont: 'Open Sans', sans-serif;

$mainTheme: $blue;
$baseTextColor: $offBlack;
$lightTextColor: $grey;
@mixin linear-gradient($fromColor, $toColor) {
  background-image: -webkit-gradient(linear, left top, left bottom, from($fromColor), to($toColor)); /* Saf4+, Chrome */
  background-image: -webkit-linear-gradient(top, $fromColor, $toColor); /* Chrome 10+, Saf5.1+, iOS 5+ */
  background-image:    -moz-linear-gradient(top, $fromColor, $toColor); /* FF3.6 */
  background-image:     -ms-linear-gradient(top, $fromColor, $toColor); /* IE10 */
  background-image:      -o-linear-gradient(top, $fromColor, $toColor); /* Opera 11.10+ */
  background-image:         linear-gradient(top, $fromColor, $toColor);
  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#{$fromColor}', EndColorStr='#{$toColor}');
}


@mixin breakpoint($point) {
  @if $point == big-phone {
    @media (max-width: 1250px) { @content; }
  }
  @else if $point == small-phone {
    @media (max-width: 630px)  { @content; }
  }
}
@mixin box-sizing() {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

// Clearfix
.group {
  @include clearfix;
}
.grad-overlay {
  @include linear-gradient(rgba(0,0,0,.1), #000);
  position: absolute;
  width: 100%;
  z-index: 10;
  left: 0;
  height: 100%;
}
body {
  margin: 0;
  color: #ccc;
  background: #000;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  font-family: $headerFont;
  font-size: 17px;

  @include breakpoint(big-phone) {
    font-size: 16px;
  }

  @include breakpoint(small-phone) {
    font-size: 12px;
  }
}
.button-placement {
  position: absolute;
  bottom: 20px;
  left: 20px;
}
ul {
  padding: 0 0;
  margin: 0 0;
}
.close {
  position:fixed;
  right:0px;
  margin-right:-80px;
  margin-top:-130px;
}
.close g {
  fill: #ffffff;
}
.modal-open {
  margin-left: 1028px;
  span {
    font-size: 15px;
    position:relative;
    top:-10px;
  }
  position: absolute;
  margin-top:-46px;
  z-index:10;

}
.back {
  position: absolute; 
  top: 30px;
  z-index: 200;
  left: 80px;
  svg {
    width: 40px;
    height:40px;
    fill: #fff;
  }
  a {
    text-decoration: none;
  }
  span {
    position: relative;
    left: 20px;
    top: -12px;
  }
}
.play {
  fill: #ffffff;
  width: 60px;
  height: 32px;
}
.modal {
  display: none;
  position: fixed;
  z-index:140;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  .overlay-youtube {
    z-index:200;
    width: 690px;
    position: absolute;
    top:50%;
    margin-top:-215px;
    //background: red;
    height: 50px;
    left: 50%;
    margin-left: -320px;
  }
  embed {
    left:50%;
    position: absolute;
    z-index:100;
    top: 50%;
    margin-left: -320px;
    margin-top: -195px;

  }
  &:before {
    position: fixed;
    content: '';
    width:100%;
    height:100%;
    background: rgba(0,0,0,.8);
  }
}
nav {
  z-index:0;
  img {
    width:80%;
  }
  p {
    padding: 10px 20px 0px;
    font-size: 16px;
    color: rgba(0,82,155,1);
    .firstcharacter { float: left;  font-size: 75px; line-height: 60px; padding-top: 4px; padding-right: 8px; padding-left: 3px; font-family: Georgia; }
    &.small {
      font-size: 13px;
    }
  }
}

.image-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 120%;
  height: 120%;
  overflow: hidden;
  img {
    max-width: 100%;
    width: 100%;
    position: relative;
    top: -10px;
    left: -10px;
    height: auto;
    opacity: .4;
  }
}
.single {
  position: relative;
  height: 100%;
  width: 100%;
  background: rgba(43,48,59,1);
}
.content {
  position: relative;
  margin: 0px auto 0;
  //max-width: 680px;
  padding-left: 250px;
  width: 100%;
  height: 100%;
  @include box-sizing;
  li {
    display: none;
    width: 25%;
    float: left;
    overflow: hidden;
    margin: 0 0;
    padding: 0 0;
    list-style-type: none;
    min-height: 250px;
    position: relative;
    .image-wrapper {
      position: absolute;
      padding: 20px;
      @include box-sizing();
      width: 100%;
      height: 100%;
      background: rgba(11,25,32,1);
    }
  }

  a {
    color: #fff;
    @include transition(color 0.2s);

    &:hover {
    }
  }


  @include breakpoint(small-phone) {
    margin: 50px auto 15px;
  }
}

.pagination {
  width: 100%;

  a {
    font-size: 1.5em;
    font-weight: bold;
    padding: .7em 0;
    text-decoration: none;
  }
}

.older {
  float: left;
}

.newer {
  float: right;
}