.toggle-image {
  position: absolute;
  z-index: 40;
  right: 30px;
  top: 30px;
  svg {
    width: 30px;
    height: 30px;
    fill: #fff;
    padding-right: 14px;
  }
  span {
    position: relative;
    top: -8px;
  }
  color: #fff;
}
.modal-image {
  position:fixed;
  background: rgba(255,255,255,.7);
  z-index: 300;
  display:none;
  top: 0px;
  left: 0px;
  overflow-y:scroll;
  width:100%;
  height: 100%;
  .overlay-image {
    width: 100%;
    img{
      width: 70%;
      margin: 2% 15%;
      height: auto;
    }
  }
  div.close {
    height: 100px;
    width: 100px;
    top:80px;
    margin-left: 490px;
    left: 50%;
    right: auto;
  }
  .close {
    right: auto;
    margin-right:0px;
    margin-top:0px;
  }
}
.toggle-image {
  cursor: pointer;
}
#nav {
  a {
    color: #000;
    text-decoration:none;

  }
  li {
    display:none;
    &.prev {
      position: absolute;
      bottom: 20px;
      border: 2px solid rgba(5,85,157,1);
      display:block;
      left: 20px;
      padding: 6px;
      &:hover {
        background: rgba(5,85,157,1);
        a {
          color: #fff;
          text-decoration:none;
        }
      }
    }
    &.next {
      position: absolute;
      bottom: 20px;
      right: 20px;
      border: 2px solid rgba(5,85,157,1);
      display:block;
      padding: 6px;
      &:hover {
        background: rgba(5,85,157,1);
        a {
          color: #fff;
          text-decoration:none;
        }
      }
    }
  }
}
#hide-current {
  display: none;
}
.post-head {
  //border-bottom: 1px solid $grey;
  margin: 1em 0;
  padding-bottom: 5px;
  position: relative;

  a {
    text-decoration: none;
  }
}
button {
  border:2px solid rgba(52,74,150,1);
  color: rgba(52,74,150,1);
  text-transform: uppercase;
  background: none;
  padding: 6px;
  margin: 10px 0 0 10px;
  display: inline-block;
  focus:none;
  outline:none;
  &.active {
    background: rgba(52,74,150,1);
    color: #fff;
  }
}

.post-body {
  padding: 60px 100px 0px;
  width: 50%;
  font-size: 1.1em;
  float: left;
}
.post-extra {
  float: left;
  padding-top: 70px;
  width: 30%;
}
.single {
  overflow: hidden;
  @include box-sizing;
  padding-left: 20px;
}
.post-single {
  .image-wrapper {
    min-height: 500px;
    overflow: hidden;
    img {
      position: relative;
      top: -160px;
    }
    a {

    }
  }
}
.line {
  width:100%;
  height: 1px;
  background-color: rgba(25,24,28,1);
  margin: 10px 0;
}
.actors {
  padding-top: 20px;
}
.post-single {
  .post-title {
    padding-left: 80px;
  }
}
.post-title {
  font-size: 1.6em;
  position: absolute;
  z-index: 10;
  bottom: 0px;


  @include breakpoint(big-phone) {
    font-size: 1.7em;
  }
}

.post-date {
  position: absolute;
  bottom: 10px;
  right: 0;
  font-size: 1.3em;
  line-height: 1.7em;
  color: $lightTextColor;
}

.post-body {
  margin-bottom: 1.2em;
  font-family: $postFont;
  line-height: 1.65em;
}

.social {
  padding: .55em 0 1.4em;
}

.comments {
  margin-top: 1em;
  font-weight: bold;
  font-size: 1.2em;

  a {
    color: $lightTextColor;
    text-decoration: none;
  }

  .icon-bubbles {
    padding: 3px 15px 5px 0;
    float: left;
  }
}
