<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="styles/main.css" rel="stylesheet">
    <% if (locals.title) { %>
    <title><%= locals.title %></title>
    <% } else { %>
    <title>Levin Movie Directory</title>
    <% } %>
  </head>
  <body>
    <nav>
      <h1 class="name">

        <a href="<%= data.baseUrl %>"><img src="images/logo.png" alt="" /></a>
      </h1>
      <!--<button class="sort" data-filter="my-order:asc">Ascending Order</button>
<button class="sort" data-sort="my-order:desc">Descending Order</button>-->

<br />
<p><span class="firstcharacter">A</span> gift of  more than 100 movie stills from William Zewadski (JD 69) forms the heart of Levin College of Law Legal Movie Stills Collection. More than 90 film and television productions are represented by stills that show a single scene or, sometimes, a cast portrait. This collection proves the case that legal themes have served as a staple for movie plots since the dawn of Hollywood through the present day.</p>
<p class="small">In addition to the movie and television productions themselves, sources for summaries and production details include Reel Justice by Paul Bergman and Michael Asimow, IMDB.com and RogerEbert.com.</p>
    <% if (!locals.title) { %>
      <div class="button-placement">
        <button class="filter" data-filter="all">All</button>
        <button class="filter" data-filter=".tv">TV</button>
        <button class="filter" data-filter=".movies">Movies</button>
      </div>
    <% } %>
    </nav>
    <div class="content">
