<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="styles/main.css" rel="stylesheet">
    <% if (locals.title) { %>
    <title><%= locals.title %></title>
    <% } else { %>
    <title>Levin Movie Directory</title>
    <% } %>
  </head>
  <body>
    <nav>
      <h1 class="name">

        <a href="<%= data.baseUrl %>"><img src="images/logo.png" alt="" /></a>
      </h1>
      <!--<button class="sort" data-filter="my-order:asc">Ascending Order</button>
<button class="sort" data-sort="my-order:desc">Descending Order</button>-->

<br />
    <% if (!locals.title) { %>
      <div class="button-placement">
        <button class="filter" data-filter="all">All</button>
        <button class="filter" data-filter=".tv">TV</button>
        <button class="filter" data-filter=".movies">Movies</button>
      </div>
    <% } %>
    </nav>
    <div class="content">
