<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href="<%= data.baseUrl %>styles/main.css" rel="stylesheet">
    <% if (locals.title) { %>
    <title><%= locals.title %></title>
    <% } else { %>
    <title>My Blog</title>
    <% } %>
  </head>
  <body>
    <nav>
      <h1 class="name">
        <a href="<%= data.baseUrl %>">Levin Directory</a>
      </h1>
      <button class="sort" data-filter="my-order:asc">Ascending Order</button>
<button class="sort" data-sort="my-order:desc">Descending Order</button>

<button class="filter" data-filter=".Drama">Drama</button>
<button class="filter" data-filter=".Comedy">Comedy</button>
    </nav>
    <div class="content">
