<div class="post-single">
	<div class="image-wrapper">

	    <h1 class="post-title">
		  	<%= post.title %>
		</h1>
		<div class="image-background">
			<img src="../../images/<%= post.img %>" alt="" />
		</div>
	</div>
</div>
