<a href="<%= post.url %>index.html">
	<div class="image-wrapper">

	    <h1 class="post-title">
		  	<%= post.title %>
		</h1>
		<div class="image-background">
			<img src="images/thumbs/<%= post.img %>" alt="" />
		</div>
	</div>
</a>
